@CHARSET "ISO-8859-1";

body {
	width: 99%;
	background-attachment: fixed;
	background-image: url("../images/background.png");
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.image {
	text-align: center;
}

.fillable {
	height: 30px;
	width: 155%;
	margin-left: 5px;
}

.commentbox {
	position: absolute;
	bottom: 0;
}

.commenticon {
	position: absolute;
	right: 4px;
	bottom: 2px;
}

.resultsSearch {
	display: flex;
}

.results {
	width: 20%;
	margin-right: 3px;
	border: 2px solid black;
	border-radius: 10px;
	position: relative;
}

.veinte {
	width: 20%;
}

.cien {
	width: 100%;
}

#searchDiv {
	text-align: center;
}