<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- DevianArt Controllers -->
	<servlet>
		<description></description>
		<display-name>SearchController</display-name>
		<servlet-name>SearchController</servlet-name>
		<servlet-class>aiss.controller.SearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/SearchController</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>StatsController</display-name>
		<servlet-name>StatsController</servlet-name>
		<servlet-class>aiss.controller.StatsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatsController</servlet-name>
		<url-pattern>/StatsController</url-pattern>
	</servlet-mapping>
	<!-- Youtube Controllers -->

	<!-- Dailymotion Controllers -->

	<!-- Dailymotion Oauth -->
	<servlet>
		<description></description>
		<servlet-name>DailymotionAuthController</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Dailymotion</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DailymotionAuthController</servlet-name>
		<url-pattern>/AuthController/Dailymotion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>DailymotionOAuth2Callback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Dailymotion</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/index.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DailymotionOAuth2Callback</servlet-name>
		<url-pattern>/oauth2callback/Dailymotion</url-pattern>
	</servlet-mapping>
	
	<!-- Youtube Oauth -->
	<servlet>
		<description></description>
		<servlet-name>YoutubeAuthController</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Youtube</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>YoutubeAuthController</servlet-name>
		<url-pattern>/AuthController/Youtube</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>YoutubeOAuth2Callback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Youtube</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/index.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>YoutubeOAuth2Callback</servlet-name>
		<url-pattern>/oauth2callback/Youtube</url-pattern>
	</servlet-mapping>	
	
	<!-- DeviantArt Oauth -->
	<servlet>
		<description></description>
		<servlet-name>DeviantArtAuthController</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>DeviantArt</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviantArtAuthController</servlet-name>
		<url-pattern>/AuthController/DeviantArt</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>DeviantArtOAuth2Callback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>DeviantArt</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/index.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviantArtOAuth2Callback</servlet-name>
		<url-pattern>/oauth2callback/DeviantArt</url-pattern>
	</servlet-mapping>

	<!-- Unsplash Oauth -->
	<servlet>
		<description></description>
		<servlet-name>UnsplashAuthController</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Unsplash</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnsplashAuthController</servlet-name>
		<url-pattern>/AuthController/Unsplash</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>UnsplashOAuth2Callback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Unsplash</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/home</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnsplashOAuth2Callback</servlet-name>
		<url-pattern>/oauth2callback/Unsplash</url-pattern>
	</servlet-mapping>
</web-app>